.git
.idea
.vscode

src/vendor
src/node_modules

src/.env
src/database/database.sqlite

src/public/storage

src/storage/logs
src/storage/framework/cache
src/storage/framework/sessions
src/storage/framework/views

src/bootstrap/cache

*.log